/* You can add global styles to this file, and also import other style files */
.main {
  background-color : grey;
  height : 350px;
  max-width: 100%;
  margin : 10px;
  
}

.product {
  background-color: grey;
  height : 220px;
  width : 100%
}

img {
    width: 100%;
    height: 100%;
}