<div class= "main">
  <img src="../../assets/images/ecommerce-solutions-intro-img.jpg"> 
  </div>

  <div class="container">
    <div class="row">
      <div class="col-md-4">
         <div class="product">
          <img src="../../assets/images/furniture.jpeg"> 
         </div>
      </div>
      <div class="col-md-4">
        <div class="product">
          <img src="../../assets/images/gstore.jpg"> 
        </div>
      </div>
      <div class="col-md-4">
        <div class="product">
          <img src="../../assets/images/estore.jpg"> 
        </div>
      </div>
    </div>
    <br/>
    <div class="row">
      <div class="col-md-4">
         <div class="product">
          <img src="../../assets/images/utensilstore.jpeg"> 
         </div>
      </div>
      <div class="col-md-4">
        <div class="product">
          <img src="../../assets/images/clothestore.gif"> 
        </div>
      </div>
      <div class="col-md-4">
        <div class="product">
          <img src="../../assets/images/sportstore.png"> 
        </div>
      </div>
    </div>
    <br/>
    <div class="row">
      <div class="col-md-4">
         <div class="product">
          <img src="../../assets/images/stationerystore.png"> 
         </div>
      </div>
      <div class="col-md-4">
        <div class="product">
          <img src="../../assets/images/jewelerystore.jpg"> 
        </div>
      </div>
      <div class="col-md-4">
        <div class="product">
          <img src="../../assets/images/sportstore.png"> 
        </div>
      </div>
    </div>
    
  </div>
